.movie-list {
    list-style: none;
    margin-left: var(--margin-size);
    margin-right: var(--margin-size);
    height: calc(100vh - (var(--margin-size) - var(--nav-font-size)));
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--card-width), 1fr));
    grid-auto-rows: calc((var(--card-width) / 2) * 3);
    padding: 1rem;
    grid-gap: 1rem;
    opacity: 0;
    animation: fadeIn 1.5s   ease-in-out 0s  both;
    @keyframes fadeIn {
        0% {
            display: inline;
            opacity: 0;
            transform:translateY(-15px) 
        }
        25% {
            display: inline;
            opacity: 1;
            transform:translateY(0) 
        }
        100% {
            opacity: 1;
        }
    }
}
@media only screen and (max-width: 960px) {
    .movie-list {
        margin-left: 0;
        margin-right: 0;
        display: grid;
        grid-template-columns: repeat(
            auto-fill,
            minmax(var(--card-width), 1fr)
        );
        grid-auto-rows: calc((var(--card-width) / 2) * 3);
        grid-gap: 1rem;
    }
}
@media only screen and (max-width: 600px) {
    .movie-list {
        margin-left: 0;
        margin-right: 0;
        display: grid;
        grid-template-columns: repeat(
            auto-fill,
            minmax(var(--card-width), 1fr)
        );
        grid-auto-rows: calc((var(--card-width) / 2) * 3);
        padding: 0rem;
        grid-gap: 0rem;
    }
    .movie-item, .card  >.wrapper {
        border-radius: 0px;
    }
}

