
/* Inline #2 | http://localhost:3000/ */


  

.topNav {
    border-bottom: rgba(255, 255, 255, 0.2) 1px solid;
    vertical-align: middle;
    padding: calc(calc(var(--margin-size) - var(--nav-font-size))/2) 0;
    letter-spacing: 0.5rem;
    width: 100%;
    ul li {
        list-style-type: none;
    button {
        all: unset;
            text-decoration: none;
            text-transform: uppercase;
            color: #fff;
            font-size: 1.5em;
        cursor: pointer;
        }
    }
}
ul.navCategories {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    font-size: var(--nav-font-size);
}
 .s-one {
    position: absolute;
    top: 0;
    left: var(--margin-size);
    border-right: 1px solid rgba(255, 255, 255, 0.2
    );
    height: 100vh;
    position: fixed;
}
 .s-two {
    position: absolute;
	top: 0;
	right: var(--margin-size);
	border-left: 1px solid rgba(255, 255, 255, 0.2);
	height: 100vh;
    position: fixed;
}
.page-btn {
	all: unset;
    padding: .5em 2em;
    margin: .5em 2em;
    letter-spacing: .2em;
    cursor: pointer;
    background: linear-gradient(to top, rgba(0, 82, 145, 0.427), rgba(7, 255, 57, 0.756));
    border-radius: 50px;
    border: solid 1px rgba(255, 255, 255, 0.2);
    color: #fff;
}
.page-nav {
    display: flex;
    justify-content: center;
    animation: fadeUp 2s ease-in-out 1s;
}
.fa {
    font-size: 1.5em
}
@keyframes fadeUp {
    0% {
        display: inline;
        opacity: 0;
        transform:translateY(15px) 
    }
    25% {
        display: inline;
        opacity: 1;
        transform:translateY(0) 
    }
    100% {
        opacity: 1;
    }
}