@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,600,400&display=swap");
:root {
    --margin-size: 5rem;
    --nav-font-size: 0.6rem;
    --card-width: 200px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #111;
    /* background: linear-gradient(to left, rgb(101, 78, 163), rgb(234, 175, 200)) #000;normal */
    /* background: linear-gradient(to left, rgb(127, 0, 255), rgb(225, 0, 255))#000; */
    /* background: linear-gradient(to right, rgb(0, 0, 0), rgb(15, 155, 15)) #000;
    background: linear-gradient(to right, rgb(58, 28, 113), rgb(215, 109, 119), rgb(255, 175, 123)) #000;
    background: linear-gradient(to right, rgb(21, 153, 87), rgb(21, 87, 153)) #000; */
    /* background: linear-gradient(to top, rgb(195, 55, 100), rgb(29, 38, 113))#000;
    background: linear-gradient(to right, rgb(238, 9, 121), rgb(255, 106, 0))#000; */
    /* background-repeat: no-repeat; */




    background: linear-gradient(to right, #000046, #1cb5e0)#000;
    color: #fff;
}

/* mobile view */

@media only screen and (max-width: 960px) {
    .navRight {
        display: none;
    }
    .navLeft {
        display: none;
    }
    .renderMoviesWindow {
        left: 0;
        right: 0;
    }
    i {
        display: none;
    }
}
.container {
	display: flex;
	min-height: 100vh;
    justify-content: center;
    align-content: center;
	/* background: red; */
	/* flex-direction: column; */
	/* object-fit: cover; */
	/* position: relative; */
}
.loader {
    margin: 30% auto ;
    transform: scale(.4);
    opacity: .5;
   /* position: absolute; */
   /* transform: translate(-50%, -50%); */
   /* left: 50%;
   top: 50%; */

}

.svgContainer {
    /* // width: 100vw;
    // display: flex;
    //     justify-content: center;
    /background: #000; */
    transform: scale(.6);
    padding: 2rem;
    border: rgba(255, 255, 255, 0.3) solid 1px;
    border-radius: 15px;
    background: linear-gradient(to top, rgba(0, 82, 145, 0.2), rgba(7, 255, 57, 0.2));

}

.svgContainer {
    display: block;
    /* /margin: auto; */
}
    .st0{
       
        fill:none;
        stroke:#00ff0d;
        stroke-width:3;


        opacity: .2;
        transform: scale(.2);
    }

    path {
        /* stroke: #fff; */
        stroke-dasharray: 800;
        opacity: .5;
        animation: animate  8s ease-in-out forwards;
        fill: none;

    }

    @keyframes animate {
        0% {
            opacity: 0;
            fill: none;
            stroke-dashoffset: 800; 
            /* stroke-dasharray: 1000; */
            transform:translateY(-15px) ;

        }

        30% {
            transform:translateY(0) ;
            opacity: .5;



        }
        100% {
            stroke-dashoffset: 0; 
            transform:translateY(0) ;
            opacity: 1;


        }
    }
